/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  color: #fff; }

#sec1-main-cont {
  width: 100%;
  background-color: #000;
  position: relative;
  background-image: url("../images/whitetiger1.png");
  background-size: cover; }
  #sec1-main-cont nav {
    width: 100%;
    height: 6rem;
    background-color: #161616;
    position: fixed;
    z-index: 500; }
    #sec1-main-cont nav #nav-logo {
      margin: 0;
      padding: 0;
      height: 6rem;
      position: absolute;
      left: 9rem;
      display: flex;
      align-items: center;
      flex-direction: row; }
      #sec1-main-cont nav #nav-logo .fa-envira {
        font-size: 2rem;
        color: #f9d423;
        transition: 0.3s;
        margin-right: 0.5rem;
        transition: 0.7s;
        -moz-transition: 0.7s; }
      #sec1-main-cont nav #nav-logo p {
        padding: 0;
        margin: auto;
        font-family: "Nunito", sans-serif;
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 0.8rem; }
      #sec1-main-cont nav #nav-logo:hover {
        cursor: pointer; }
        #sec1-main-cont nav #nav-logo:hover .fa-envira {
          color: #1cd8d2;
          transition: 0.7s;
          -moz-transition: 0.7s; }
    #sec1-main-cont nav #main-ul {
      margin: 0;
      padding: 0;
      height: 6rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      list-style-type: none;
      position: absolute;
      right: 6rem; }
      #sec1-main-cont nav #main-ul #link1 {
        background: linear-gradient(right, #e65c00, #f9d423);
        background: -moz-linear-gradient(right, #e65c00, #f9d423); }
      #sec1-main-cont nav #main-ul #link2 {
        background: linear-gradient(right, #da22ff, #9733ee);
        background: -moz-linear-gradient(right, #da22ff, #9733ee); }
      #sec1-main-cont nav #main-ul #link3 {
        background: linear-gradient(right, #1cd8d2, #93edc7);
        background: -moz-linear-gradient(right, #1cd8d2, #93edc7); }
      #sec1-main-cont nav #main-ul #link4 {
        background: linear-gradient(right, #ff512f, #dd2476);
        background: -moz-linear-gradient(right, #ff512f, #dd2476); }
      #sec1-main-cont nav #main-ul #link5 {
        background: linear-gradient(right, #1d976c, #93f9b9);
        background: -moz-linear-gradient(right, #1d976c, #93f9b9); }
      #sec1-main-cont nav #main-ul li {
        margin: 0;
        padding: 0;
        height: 6rem;
        transition: all 0.7s linear;
        position: relative;
        z-index: 10; }
        #sec1-main-cont nav #main-ul li a {
          text-decoration: none;
          outline: none;
          color: #fff;
          margin: 0;
          padding: 0 3rem 0 3rem;
          height: 6rem;
          display: flex;
          width: 100%;
          box-sizing: border-box;
          transition: 0.7s;
          background-color: #161616;
          position: relative;
          z-index: 20; }
          #sec1-main-cont nav #main-ul li a p {
            padding: 0;
            margin: auto;
            font-family: "Nunito", sans-serif;
            font-weight: 200;
            text-transform: uppercase;
            font-size: 1.6rem; }
          #sec1-main-cont nav #main-ul li a:hover {
            background-color: rgba(18, 18, 18, 0); }
            #sec1-main-cont nav #main-ul li a:hover p {
              color: #fff; }
  #sec1-main-cont .title-cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row; }
    #sec1-main-cont .title-cont .title-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 9rem;
      margin-top: 3rem;
      height: 50rem;
      position: relative; }
      #sec1-main-cont .title-cont .title-box .main-title {
        font-family: "Hind", sans-serif;
        font-size: 8.4rem;
        font-weight: 300;
        text-align: left;
        position: relative; }
      #sec1-main-cont .title-cont .title-box .mini-box {
        position: absolute;
        bottom: 0; }
        #sec1-main-cont .title-cont .title-box .mini-box .sub-title {
          font-family: "Nunito", sans-serif;
          margin: 2rem 0 4rem 0.4rem;
          font-size: 2rem;
          font-weight: 300;
          width: 50rem;
          line-height: 2.8rem; }
        #sec1-main-cont .title-cont .title-box .mini-box .title-link {
          height: 6rem;
          width: 30rem;
          margin: 0 0 2.4rem 0.6rem; }
          #sec1-main-cont .title-cont .title-box .mini-box .title-link a {
            display: flex;
            align-items: center;
            flex-direction: row;
            text-decoration: none;
            outline: none;
            color: #fff;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 50; }
            #sec1-main-cont .title-cont .title-box .mini-box .title-link a .fa-tag {
              font-size: 3.8rem;
              color: #f9d423;
              position: relative;
              z-index: 50; }
            #sec1-main-cont .title-cont .title-box .mini-box .title-link a .tickets {
              position: relative;
              z-index: 50;
              font-family: "Nunito", sans-serif;
              text-transform: uppercase;
              font-size: 2.2rem;
              letter-spacing: 0.3rem;
              margin-left: 1rem; }
            #sec1-main-cont .title-cont .title-box .mini-box .title-link a .hover-ticket {
              position: absolute;
              z-index: 0;
              height: 6rem;
              width: 40rem;
              left: -50rem;
              top: 0;
              transition: 0.7s;
              border-radius: 0.5rem; }
            #sec1-main-cont .title-cont .title-box .mini-box .title-link a .hover1 {
              background: linear-gradient(right, #1cd8d2, #93edc7);
              background: -moz-linear-gradient(right, #1cd8d2, #93edc7); }
            #sec1-main-cont .title-cont .title-box .mini-box .title-link a .hover2 {
              background: linear-gradient(right, #ff512f, #dd2476);
              background: -moz-linear-gradient(right, #ff512f, #dd2476); }
            #sec1-main-cont .title-cont .title-box .mini-box .title-link a:hover .hover-ticket {
              left: -10rem; }

#sec2-about {
  width: 100%;
  background-color: #fff;
  min-height: 20rem; }

#sec3 {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
