/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  color: #fff; }

.link1 {
  background: linear-gradient(right, #e65c00, #f9d423);
  background: -moz-linear-gradient(right, #e65c00, #f9d423);
  background: -webkit-linear-gradient(right, #e65c00, #f9d423); }

.link2 {
  background: linear-gradient(right, #da22ff, #9733ee);
  background: -moz-linear-gradient(right, #da22ff, #9733ee);
  background: -webkit-linear-gradient(right, #da22ff, #9733ee); }

.link3 {
  background: linear-gradient(right, #1cd8d2, #93edc7);
  background: -moz-linear-gradient(right, #1cd8d2, #93edc7);
  background: -webkit-linear-gradient(right, #1cd8d2, #93edc7); }

.link4 {
  background: linear-gradient(right, #ff512f, #dd2476);
  background: -moz-linear-gradient(right, #ff512f, #dd2476);
  background: -webkit-linear-gradient(right, #ff512f, #dd2476); }

.link5 {
  background: linear-gradient(right, #1d976c, #93f9b9);
  background: -moz-linear-gradient(right, #1d976c, #93f9b9);
  background: -webkit-linear-gradient(right, #1d976c, #93f9b9); }

.link6 {
  background: linear-gradient(right, #ff4e50, #f9d423);
  background: -moz-linear-gradient(right, #ff4e50, #f9d423);
  background: -webkit-linear-gradient(right, #ff4e50, #f9d423); }

nav#main-nav.nav-darken {
  background-color: black; }

nav#main-nav ul#main-ul li a.nav-darken {
  background-color: black; }

nav#main-nav ul#main-ul li a.nav-darken:hover {
  background-color: transparent; }

#sec1-main-cont {
  width: 100%;
  background-color: #000;
  position: relative;
  background-image: url("../images/whitetiger1.png");
  background-size: cover; }
  #sec1-main-cont nav {
    width: 100%;
    height: 6rem;
    background-color: #161616;
    position: fixed;
    z-index: 500;
    transition: 0.7s; }
    #sec1-main-cont nav #nav-logo {
      margin: 0;
      padding: 0;
      height: 6rem;
      position: absolute;
      left: 9rem;
      display: flex;
      align-items: center;
      flex-direction: row; }
      #sec1-main-cont nav #nav-logo .fa-envira {
        font-size: 2rem;
        color: #f9d423;
        transition: 0.3s;
        margin-right: 0.5rem;
        transition: 0.7s;
        -moz-transition: 0.7s; }
      #sec1-main-cont nav #nav-logo p {
        padding: 0;
        margin: auto;
        font-family: "Nunito", sans-serif;
        font-size: 2.4rem;
        text-transform: uppercase;
        letter-spacing: 0.8rem; }
      #sec1-main-cont nav #nav-logo:hover {
        cursor: pointer; }
        #sec1-main-cont nav #nav-logo:hover .fa-envira {
          color: #1cd8d2;
          transition: 0.7s;
          -moz-transition: 0.7s; }
    #sec1-main-cont nav #main-ul {
      margin: 0;
      padding: 0;
      height: 6rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      list-style-type: none;
      position: absolute;
      right: 6rem; }
      #sec1-main-cont nav #main-ul li {
        margin: 0;
        padding: 0;
        height: 6rem;
        transition: all 0.7s linear;
        position: relative;
        z-index: 10; }
        #sec1-main-cont nav #main-ul li a {
          text-decoration: none;
          outline: none;
          color: #fff;
          margin: 0;
          padding: 0 3rem 0 3rem;
          height: 6rem;
          display: flex;
          width: 100%;
          box-sizing: border-box;
          transition: 0.7s;
          background-color: #161616;
          position: relative;
          z-index: 20; }
          #sec1-main-cont nav #main-ul li a p {
            padding: 0;
            margin: auto;
            font-family: "Nunito", sans-serif;
            font-weight: 200;
            text-transform: uppercase;
            font-size: 1.6rem; }
          #sec1-main-cont nav #main-ul li a:hover {
            background-color: rgba(18, 18, 18, 0); }
            #sec1-main-cont nav #main-ul li a:hover p {
              color: #fff; }
  #sec1-main-cont .title-cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row; }
    #sec1-main-cont .title-cont .title-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 9rem;
      margin-top: 3rem;
      position: relative; }
      #sec1-main-cont .title-cont .title-box .main-title {
        font-family: "Hind", sans-serif;
        font-size: 8.4rem;
        font-weight: 300;
        text-align: left;
        position: relative;
        margin-top: 5rem; }
      #sec1-main-cont .title-cont .title-box .mini-box .sub-title {
        font-family: "Nunito", sans-serif;
        margin: 4rem 0 4rem 0.4rem;
        font-size: 2rem;
        font-weight: 300;
        width: 50rem;
        line-height: 2.8rem; }
      #sec1-main-cont .title-cont .title-box .mini-box .title-link {
        height: 6rem;
        width: 32rem;
        margin: 0 0 2.4rem 0.6rem; }
        #sec1-main-cont .title-cont .title-box .mini-box .title-link a {
          display: flex;
          align-items: center;
          flex-direction: row;
          text-decoration: none;
          outline: none;
          color: #fff;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 50; }
          #sec1-main-cont .title-cont .title-box .mini-box .title-link a .fa-tag {
            font-size: 3.8rem;
            color: #f9d423;
            position: relative;
            z-index: 50; }
          #sec1-main-cont .title-cont .title-box .mini-box .title-link a .tickets {
            position: relative;
            z-index: 50;
            font-family: "Nunito", sans-serif;
            text-transform: uppercase;
            font-size: 2.4rem;
            letter-spacing: 0.3rem;
            margin-left: 1rem; }
          #sec1-main-cont .title-cont .title-box .mini-box .title-link a .hover-ticket {
            position: absolute;
            z-index: 0;
            height: 6rem;
            width: 42rem;
            left: -52rem;
            top: 0;
            transition: 0.7s;
            border-radius: 0.5rem; }
          #sec1-main-cont .title-cont .title-box .mini-box .title-link a .hover1 {
            background: linear-gradient(right, #1cd8d2, #93edc7);
            background: -moz-linear-gradient(right, #1cd8d2, #93edc7);
            background: -webkit-linear-gradient(right, #1cd8d2, #93edc7); }
          #sec1-main-cont .title-cont .title-box .mini-box .title-link a .hover2 {
            background: linear-gradient(right, #ff512f, #dd2476);
            background: -moz-linear-gradient(right, #ff512f, #dd2476);
            background: -webkit-linear-gradient(right, #ff512f, #dd2476); }
          #sec1-main-cont .title-cont .title-box .mini-box .title-link a:hover .hover-ticket {
            left: -10rem; }

.header-desc {
  font-family: "Hind", sans-serif;
  width: 100rem;
  margin-bottom: 7rem;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: #696969; }

#sec2-about {
  width: 100%;
  background-color: #161616;
  min-height: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #sec2-about #header-title {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-size: 4.2rem;
    margin: 7rem 0;
    padding: 1rem 0;
    border-top: 0.1rem solid #9d8200;
    border-bottom: 0.1rem solid #9d8200;
    letter-spacing: 1rem;
    transition: 0.4s; }
  #sec2-about #header-title.bigborder {
    padding: 1.3rem 0;
    border-top: 0.1rem solid #f9d423 !important;
    border-bottom: 0.1rem solid #f9d423;
    margin: 6.7rem 0; }
  #sec2-about .category-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 7rem; }
    #sec2-about .category-box .category-item {
      box-sizing: border-box;
      border: 1px solid #2e2e2e;
      width: 30rem;
      min-height: 20rem;
      margin: 0 2rem;
      transition: 0.4s;
      display: flex;
      align-items: center;
      flex-direction: column; }
      #sec2-about .category-box .category-item:hover {
        border: 1px solid #696969;
        -webkit-box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.75);
        cursor: pointer; }
      #sec2-about .category-box .category-item .cat-icon {
        color: #f9d423;
        font-size: 5.2rem;
        margin: 1.6rem 0; }
      #sec2-about .category-box .category-item .cat-title {
        color: #f9d423;
        text-transform: uppercase;
        font-family: "Nunito", sans-serif;
        font-size: 2.4rem; }
      #sec2-about .category-box .category-item .cat-desc {
        font-family: "Hind", sans-serif;
        color: #696969;
        font-size: 1.6rem;
        margin: 1.2rem 2rem;
        text-align: center; }
      #sec2-about .category-box .category-item .cat-button {
        width: 14rem;
        height: 4rem;
        box-sizing: border-box;
        margin-bottom: 1.8rem; }
      #sec2-about .category-box .category-item .cat-button > a {
        text-decoration: none;
        outline: none;
        color: #fff;
        width: 14rem;
        height: 4rem;
        display: flex;
        border: 1px solid #2e2e2e;
        background-color: #161616;
        box-sizing: border-box;
        transition: 0.7s; }
        #sec2-about .category-box .category-item .cat-button > a:hover {
          background-color: rgba(22, 22, 22, 0); }
      #sec2-about .category-box .category-item .cat-button > a > p {
        margin: auto;
        padding: 0;
        text-transform: uppercase;
        font-family: "Nunito", sans-serif;
        font-size: 1.8rem;
        letter-spacing: 0.4rem; }

#sec3-description {
  width: 100%;
  min-height: 76rem;
  background-color: #000;
  background-image: url("../images/warsaw-bg3.png");
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; }
  #sec3-description .frames-box {
    position: relative;
    width: 140rem;
    height: 54rem; }
    #sec3-description .frames-box .left-frame {
      position: absolute;
      left: 0;
      overflow: hidden;
      top: 4rem;
      box-sizing: border-box;
      height: 46rem;
      width: 92rem;
      border: 0.1rem solid #666666; }
      #sec3-description .frames-box .left-frame .inner-left-frame {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row; }
        #sec3-description .frames-box .left-frame .inner-left-frame #slide-right-arrow {
          position: relative;
          margin-left: 1.5rem;
          transition: 0.2s;
          display: none; }
          #sec3-description .frames-box .left-frame .inner-left-frame #slide-right-arrow .fa-angle-right {
            font-size: 6rem;
            display: block;
            animation: arrowpulse 3s infinite;
            -webkit-animation: arrowpulse 3s infinite;
            -moz-animation: arrowpulse 3s infinite; }
          #sec3-description .frames-box .left-frame .inner-left-frame #slide-right-arrow:hover .fa-angle-right {
            cursor: pointer;
            color: #f9d423 !important; }
        #sec3-description .frames-box .left-frame .inner-left-frame .left-frame-content {
          position: absolute;
          left: 5rem;
          height: 46rem;
          overflow: hidden;
          width: 81rem;
          transition: 1s; }
          #sec3-description .frames-box .left-frame .inner-left-frame .left-frame-content .lfc-case {
            height: 46rem;
            overflow: hidden;
            width: 81rem;
            display: flex;
            align-items: center;
            flex-direction: column; }
            #sec3-description .frames-box .left-frame .inner-left-frame .left-frame-content .lfc-case p.lfc-title {
              font-family: "Nunito", sans-serif;
              text-transform: uppercase;
              font-size: 4.2rem;
              margin: 7rem 0;
              padding: 1rem 0;
              border-top: 0.1rem solid #9d8200;
              border-bottom: 0.1rem solid #9d8200;
              letter-spacing: 1rem;
              transition: 0.4s;
              margin: 10rem 0 6rem 0; }
            #sec3-description .frames-box .left-frame .inner-left-frame .left-frame-content .lfc-case p.lfc-desc {
              font-family: "Hind", sans-serif;
              color: #cccccc;
              font-size: 2.2rem;
              margin: 1.2rem 2rem;
              text-align: center;
              font-weight: 200; }
    #sec3-description .frames-box .right-frame {
      position: absolute;
      box-sizing: border-box;
      right: 0;
      width: 54rem;
      height: 54rem;
      border: 0.5rem solid #f9d423;
      transition: 1s; }
      #sec3-description .frames-box .right-frame .inner-right-frame {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: row; }
        #sec3-description .frames-box .right-frame .inner-right-frame #slide-left-arrow {
          position: relative;
          margin-left: 1.2rem;
          transition: 0.2s; }
          #sec3-description .frames-box .right-frame .inner-right-frame #slide-left-arrow .fa-angle-left {
            font-size: 6rem;
            display: block;
            animation: arrowpulse 3s infinite;
            -webkit-animation: arrowpulse 3s infinite;
            -moz-animation: arrowpulse 3s infinite; }
          #sec3-description .frames-box .right-frame .inner-right-frame #slide-left-arrow:hover .fa-angle-left {
            cursor: pointer;
            color: #f9d423 !important; }
        #sec3-description .frames-box .right-frame .inner-right-frame .hidden-frame {
          position: absolute;
          box-sizing: border-box;
          right: 47.2rem;
          height: 46rem;
          width: 92rem;
          padding: 0 5rem; }
          #sec3-description .frames-box .right-frame .inner-right-frame .hidden-frame .hf-desc {
            font-family: "Hind", sans-serif;
            color: #cccccc;
            font-size: 2.2rem;
            margin: 5rem 0 0 5rem;
            text-align: left;
            font-weight: 200; }
        #sec3-description .frames-box .right-frame .inner-right-frame .right-frame-content {
          position: absolute;
          height: 100%;
          width: 42.4rem;
          right: 5rem;
          display: flex;
          flex-direction: column; }
          #sec3-description .frames-box .right-frame .inner-right-frame .right-frame-content .rfc-title {
            font-family: "Nunito", sans-serif;
            font-size: 2.4rem;
            text-transform: uppercase;
            letter-spacing: 0.8rem;
            margin: 3rem 0 0 3rem; }
          #sec3-description .frames-box .right-frame .inner-right-frame .right-frame-content .rfc-desc {
            font-family: "Hind", sans-serif;
            color: #696969;
            font-size: 1.6rem;
            margin: 2rem 0 0 3rem; }
          #sec3-description .frames-box .right-frame .inner-right-frame .right-frame-content .rfc-item {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin: 2rem 0 0 3rem; }
            #sec3-description .frames-box .right-frame .inner-right-frame .right-frame-content .rfc-item .rfc-icon {
              color: #f9d423;
              font-size: 3.8rem;
              display: block; }
            #sec3-description .frames-box .right-frame .inner-right-frame .right-frame-content .rfc-item .rfc-icon-desc {
              display: flex;
              align-items: center;
              flex-direction: column; }
              #sec3-description .frames-box .right-frame .inner-right-frame .right-frame-content .rfc-item .rfc-icon-desc .rid-title {
                color: #f9d423;
                font-family: "Nunito", sans-serif;
                font-size: 2.4rem;
                margin: 0 0 0 0; }
              #sec3-description .frames-box .right-frame .inner-right-frame .right-frame-content .rfc-item .rfc-icon-desc .rid-desc {
                font-family: "Hind", sans-serif;
                color: #696969;
                font-size: 1.6rem;
                margin: 1rem 0 0 3rem; }

@keyframes arrowpulse {
  0% {
    color: white; }
  75% {
    color: white; }
  87% {
    color: rgba(255, 255, 255, 0); }
  100% {
    color: white; } }
#photo1 {
  background-image: url("../images/photo12.jpg");
  background-size: cover;
  background-position: center; }

#photo2 {
  background-image: url("../images/photo2.jpg");
  background-size: cover;
  background-position: center; }

#photo3 {
  background-image: url("../images/photo31.jpg");
  background-size: cover;
  background-position: center; }

#photo4 {
  background-image: url("../images/photo4.jpeg");
  background-size: cover;
  background-position: center; }

#sec4-team {
  width: 100%;
  min-height: 70rem;
  background-color: #161616;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #sec4-team .team-title {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-size: 4.2rem;
    margin: 7rem 0;
    padding: 1rem 0;
    border-top: 0.1rem solid #9d8200;
    border-bottom: 0.1rem solid #9d8200;
    letter-spacing: 1rem;
    transition: 0.4s; }
  #sec4-team .person-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 7rem; }
    #sec4-team .person-box .person-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 30rem;
      min-height: 40rem;
      margin: 0 2rem;
      transition: 0.4s; }
      #sec4-team .person-box .person-item .person-photo {
        margin: 0;
        padding: 0;
        background-color: green;
        width: 30rem;
        height: 40rem; }
      #sec4-team .person-box .person-item .person-name {
        font-family: "Nunito", sans-serif;
        font-weight: 200;
        font-size: 1.6rem;
        width: 100%;
        text-align: left;
        margin: 3.2rem 0 1rem 0; }
        #sec4-team .person-box .person-item .person-name span {
          text-transform: uppercase;
          color: #f9d423; }
      #sec4-team .person-box .person-item .person-desc {
        font-family: "Nunito", sans-serif;
        font-weight: 200;
        font-size: 1.6rem;
        line-height: 2rem;
        text-align: justify;
        margin-bottom: 3.2rem; }
      #sec4-team .person-box .person-item .person-button {
        width: 14rem;
        height: 4rem;
        box-sizing: border-box;
        margin-bottom: 1.8rem; }
      #sec4-team .person-box .person-item .person-button > a {
        text-decoration: none;
        outline: none;
        color: #fff;
        width: 14rem;
        height: 4rem;
        display: flex;
        border: 1px solid #2e2e2e;
        background-color: #161616;
        box-sizing: border-box;
        transition: 0.7s; }
        #sec4-team .person-box .person-item .person-button > a:hover {
          background-color: rgba(22, 22, 22, 0); }
      #sec4-team .person-box .person-item .person-button > a > p {
        margin: auto;
        padding: 0;
        text-transform: uppercase;
        font-family: "Nunito", sans-serif;
        font-size: 1.8rem;
        letter-spacing: 0.4rem; }

#sec5-numbers {
  width: 100%;
  background-image: url("../images/close-up-grass-bw.png");
  background-size: cover;
  background-position: bottom;
  height: 46rem; }
  #sec5-numbers .numbers-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    flex-direction: column; }
    #sec5-numbers .numbers-cover .numbers-title {
      font-family: "Nunito", sans-serif;
      text-transform: uppercase;
      font-size: 4.2rem;
      margin: 7rem 0;
      padding: 1rem 0;
      border-top: 0.1rem solid #9d8200;
      border-bottom: 0.1rem solid #9d8200;
      letter-spacing: 1rem;
      transition: 0.4s; }
    #sec5-numbers .numbers-cover .numbers-cont {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 11rem; }
      #sec5-numbers .numbers-cover .numbers-cont .numbers-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0 1.5rem; }
        #sec5-numbers .numbers-cover .numbers-cont .numbers-item i {
          color: #f9d423;
          font-size: 5.6rem;
          margin: 0.4rem 1rem 1rem 1rem; }
        #sec5-numbers .numbers-cover .numbers-cont .numbers-item .numbers-item-desc {
          display: flex;
          align-items: center;
          flex-direction: column;
          align-items: flex-start;
          margin: 0.4rem 0 1rem 0; }
          #sec5-numbers .numbers-cover .numbers-cont .numbers-item .numbers-item-desc p.item-counter {
            font-family: "Nunito", sans-serif;
            font-size: 3.6rem; }
          #sec5-numbers .numbers-cover .numbers-cont .numbers-item .numbers-item-desc .ic-description {
            font-family: "Hind", sans-serif;
            font-size: 2rem;
            margin: 0.4rem 0; }

#sec6-socials {
  width: 100%;
  height: 16rem;
  background-color: #f9d423;
  display: flex; }
  #sec6-socials .socials-box {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row; }
    #sec6-socials .socials-box .socials-link {
      position: relative;
      display: block;
      margin: 0 24rem 0 0;
      padding: 0;
      transition: 0.2s; }
      #sec6-socials .socials-box .socials-link i {
        color: #161616;
        font-size: 6rem;
        transition: 0.2s; }
      #sec6-socials .socials-box .socials-link .fa-facebook-square:hover {
        color: #3b5998; }
      #sec6-socials .socials-box .socials-link .fa-twitter-square:hover {
        color: #4099ff; }
      #sec6-socials .socials-box .socials-link .fa-linkedin-square:hover {
        color: #007bb6; }
      #sec6-socials .socials-box .socials-link .fa-youtube-square:hover {
        color: #b31217; }
    #sec6-socials .socials-box .socials-link:last-child {
      margin: 0; }

#sec7-footer {
  width: 100%;
  min-height: 60rem;
  background-color: #161616;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #sec7-footer .contact-title {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-size: 4.2rem;
    margin: 7rem 0;
    padding: 1rem 0;
    border-top: 0.1rem solid #9d8200;
    border-bottom: 0.1rem solid #9d8200;
    letter-spacing: 1rem;
    transition: 0.4s; }
  #sec7-footer .footer-box {
    width: 140rem;
    height: 46rem;
    display: flex;
    flex-direction: row; }
    #sec7-footer .footer-box .footer-item {
      margin-right: 5rem; }
      #sec7-footer .footer-box .footer-item .title-box {
        border-bottom: 0.1rem solid #9d8200;
        margin-bottom: 3rem; }
      #sec7-footer .footer-box .footer-item .fi-title {
        font-family: "Nunito", sans-serif;
        font-size: 2.4rem;
        text-transform: uppercase;
        margin-bottom: 1rem; }
      #sec7-footer .footer-box .footer-item .fi-subtitle {
        font-size: 2rem;
        font-family: "Hind", sans-serif;
        color: #696969;
        margin-bottom: 3rem;
        text-transform: uppercase;
        margin: 9.8rem 0 1rem 0; }
      #sec7-footer .footer-box .footer-item .fi-content {
        font-size: 2rem;
        font-family: "Hind", sans-serif;
        color: #696969;
        margin-bottom: 3rem; }
        #sec7-footer .footer-box .footer-item .fi-content .additional-info {
          width: 42rem;
          line-height: 3rem; }
        #sec7-footer .footer-box .footer-item .fi-content p {
          margin: 0 0 1rem 0; }
          #sec7-footer .footer-box .footer-item .fi-content p a {
            color: #696969; }
            #sec7-footer .footer-box .footer-item .fi-content p a:hover {
              color: #fff; }
      #sec7-footer .footer-box .footer-item .myMap {
        width: 44.9rem;
        height: 35rem; }
    #sec7-footer .footer-box .footer-item:last-child {
      margin: 0; }

#sec8-last-footer {
  height: 6rem;
  width: 100%;
  background-color: #000;
  display: flex;
  position: relative; }
  #sec8-last-footer .copyright {
    margin: auto 0 auto 9rem;
    color: #696969;
    font-family: "Nunito", sans-serif;
    font-size: 1.4rem; }

/*# sourceMappingURL=main.css.map */
