html{
  font-size: 62.5%;
}
body{
  color: #fff;
}
.link1{
  background: linear-gradient(right,rgba(230, 92, 0, 1),rgba(249, 212, 35, 1));
  background: -moz-linear-gradient(right,rgba(230, 92, 0, 1),rgba(249, 212, 35, 1));
  background: -webkit-linear-gradient(right,rgba(230, 92, 0, 1),rgba(249, 212, 35, 1));
}
.link2{
  background: linear-gradient(right,#da22ff,#9733ee);
  background: -moz-linear-gradient(right,#da22ff,#9733ee);
  background: -webkit-linear-gradient(right,#da22ff,#9733ee);
}
.link3{
  background: linear-gradient(right,#1cd8d2,#93edc7);
  background: -moz-linear-gradient(right,#1cd8d2,#93edc7);
  background: -webkit-linear-gradient(right,#1cd8d2,#93edc7);
}
.link4{
  background: linear-gradient(right,#ff512f,#dd2476);
  background: -moz-linear-gradient(right,#ff512f,#dd2476);
  background: -webkit-linear-gradient(right,#ff512f,#dd2476);
}
.link5{
  background: linear-gradient(right,#1d976c,#93f9b9);
  background: -moz-linear-gradient(right,#1d976c,#93f9b9);
  background: -webkit-linear-gradient(right,#1d976c,#93f9b9);
}
.link6{
  background: linear-gradient(right,#ff4e50,#f9d423);
  background: -moz-linear-gradient(right,#ff4e50,#f9d423);
  background: -webkit-linear-gradient(right,#ff4e50,#f9d423);
}
nav#main-nav.nav-darken{
  background-color: rgba(0, 0, 0, 1);
}
nav#main-nav ul#main-ul li a.nav-darken{
  background-color: rgba(0, 0, 0, 1);
}
nav#main-nav ul#main-ul li a.nav-darken:hover{
  background-color: rgba(0, 0, 0, 0);
}
#sec1-main-cont{
  width: 100%;
  background-color: #000;
  position: relative;
  background-image: url('../images/whitetiger1.png');
  background-size: cover;
  nav{
    width: 100%;
    height: $nav;
    background-color: rgba(22, 22, 22, 1);
    position: fixed;
    z-index: 500;
    transition: 0.7s;
    #nav-logo{
      @include zero;
      height: $nav;
      position: absolute;
      left: 9rem;
      @include dirrow;
      .fa-envira{
        font-size: 2rem;
        color: #f9d423;
        transition: 0.3s;
        margin-right: 0.5rem;
        transition: 0.7s;
        -moz-transition: 0.7s;
      }
      p{
        padding: 0;
        margin: auto;
        font-family: $nuni;
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 0.8rem;
      }
      &:hover{
        cursor: pointer;
        .fa-envira{
          color: #1cd8d2;
          transition: 0.7s;
          -moz-transition: 0.7s;
        }

      }
    }
    #main-ul{
      @include zero;
      height: $nav;
      @include dirrow;
      list-style-type: none;
      position: absolute;
      right: 6rem;
      li{
        @include zero;
        height: $nav;
        transition: all 0.7s linear;
        position: relative;
        z-index: 10;

        a{
          @include clearA;
          margin: 0;
          padding: 0 3rem 0 3rem;
          height: $nav;
          display: flex;
          width: 100%;
          box-sizing: border-box;
          transition: 0.7s;
          background-color: rgba(22, 22, 22, 1);
          position: relative;
          z-index: 20;
          p{
            padding: 0;
            margin: auto;
            font-family: $nuni;
            font-weight: 200;
            text-transform: uppercase;
            font-size: 1.6rem;
          }
          &:hover{
            background-color: rgba(18, 18, 18, 0);
            p{
              color: #fff;
            }
          }
        }
        &:hover{

        }
      }
    }
  }
  .title-cont{
    width: 100%;
    height: 100%;
    @include dirrow;
    .title-box{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 9rem;
      margin-top: 3rem;
      position: relative;
      .main-title{
        font-family: $hind;
        font-size: 8.4rem;
        font-weight: 300;
        text-align: left;
        position: relative;
        margin-top: 5rem;
      }
      .mini-box{
        .sub-title{
          font-family: $nuni;
          margin: 4rem 0 4rem 0.4rem;;
          font-size: 2rem;
          font-weight: 300;
          width: 50rem;
          line-height: 2.8rem;
        }
        .title-link{
          height: 6rem;
          width: 30rem;
          margin: 0 0 2.4rem 0.6rem;
          a{
            @include dirrow;
            @include clearA;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 50;
            .fa-tag{
              font-size: 3.8rem;
              color: #f9d423;
              position: relative;
              z-index: 50;
            }
            .tickets{
              position: relative;
              z-index: 50;
              font-family: $nuni;
              text-transform: uppercase;
              font-size: 2.2rem;
              letter-spacing: 0.3rem;
              margin-left: 1rem;
            }
            .hover-ticket{
              position: absolute;
              z-index: 0;
              height: 6rem;
              width: 40rem;
              left: -50rem;
              top: 0;
              transition: 0.7s;
              border-radius: 0.5rem;
            }
            .hover1{
              background: linear-gradient(right,#1cd8d2,#93edc7);
              background: -moz-linear-gradient(right,#1cd8d2,#93edc7);
              background: -webkit-linear-gradient(right,#1cd8d2,#93edc7);
            }
            .hover2{
              background: linear-gradient(right,#ff512f,#dd2476);
              background: -moz-linear-gradient(right,#ff512f,#dd2476);
              background: -webkit-linear-gradient(right,#ff512f,#dd2476);
            }
            &:hover{
              .hover-ticket{
                left: -10rem;
              }
            }
          }

        }
      }

    }
  }
}
#sec2-about{
  width: 100%;
  background-color: rgba(22, 22, 22, 1);
  min-height: 20rem;
  @include dircol;
  #header-title{
    font-family: $nuni;
    text-transform: uppercase;
    font-size: 4.2rem;
    margin: 7rem 0;
    padding: 1rem 0;
    border-top: 0.1rem solid #9d8200;
    border-bottom: 0.1rem solid #9d8200;
    letter-spacing: 1rem;
    transition: 0.4s;
  }
  #header-title.bigborder{
    padding: 1.3rem 0;
    border-top: 0.1rem solid #f9d423 !important;
    border-bottom: 0.1rem solid #f9d423;
    margin: 6.7rem 0;
  }
  .header-desc{
    font-family: $hind;
    width: 100rem;
    margin-bottom: 7rem;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: #696969;
  }
  .category-box{
    @include dirrow;
      margin-bottom: 7rem;
    .category-item{
      box-sizing: border-box;
      border: 1px solid #2e2e2e;
      width: 30rem;
      min-height: 20rem;
      margin: 0 2rem;
      transition: 0.4s;
      @include dircol;
      &:hover{
        border: 1px solid #696969;
        -webkit-box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.75);
        box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.75);
        cursor: pointer;
      }
      .cat-icon{
        color: #f9d423;
        font-size: 5.2rem;
        margin: 1.6rem 0;
      }
      .cat-title{
        color: #f9d423;
        text-transform: uppercase;
        font-family: $nuni;
        font-size: 2.4rem;
      }
      .cat-desc{
        font-family: $hind;
        color: #696969;
        font-size: 1.6rem;
        margin: 1.2rem 2rem;
        text-align: center;
      }
      .cat-button{
        width: 14rem;
        height: 4rem;
        box-sizing: border-box;
        margin-bottom: 1.8rem;
      }
      .cat-button > a{
        @include clearA;
        width: 14rem;
        height: 4rem;
        display: flex;
        border: 1px solid #2e2e2e;
        background-color: rgba(22, 22, 22, 1);
        box-sizing: border-box;
        transition: 0.7s;
        &:hover{
          background-color: rgba(22, 22, 22, 0);
        }
      }
      .cat-button > a > p{
        margin: auto;
        padding: 0;
        text-transform: uppercase;
        font-family: $nuni;
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
      }
    }

  }
}

#sec3-description{
  width: 100%;
  min-height: 74rem;
  background-color: #000;
  background-image: url('../images/warsaw-bg3.png');
  background-size: cover;
}

#sec4-team{
  width: 100%;
  min-height: 50rem;
  background-color: rgba(22, 22, 22, 1);
}
