html{
  font-size: 62.5%;
}
body{
  color: #fff;
}
.link1{
  background: linear-gradient(right,rgba(230, 92, 0, 1),rgba(249, 212, 35, 1));
  background: -moz-linear-gradient(right,rgba(230, 92, 0, 1),rgba(249, 212, 35, 1));
  background: -webkit-linear-gradient(right,rgba(230, 92, 0, 1),rgba(249, 212, 35, 1));
}
.link2{
  background: linear-gradient(right,#da22ff,#9733ee);
  background: -moz-linear-gradient(right,#da22ff,#9733ee);
  background: -webkit-linear-gradient(right,#da22ff,#9733ee);
}
.link3{
  background: linear-gradient(right,#1cd8d2,#93edc7);
  background: -moz-linear-gradient(right,#1cd8d2,#93edc7);
  background: -webkit-linear-gradient(right,#1cd8d2,#93edc7);
}
.link4{
  background: linear-gradient(right,#ff512f,#dd2476);
  background: -moz-linear-gradient(right,#ff512f,#dd2476);
  background: -webkit-linear-gradient(right,#ff512f,#dd2476);
}
.link5{
  background: linear-gradient(right,#1d976c,#93f9b9);
  background: -moz-linear-gradient(right,#1d976c,#93f9b9);
  background: -webkit-linear-gradient(right,#1d976c,#93f9b9);
}
.link6{
  background: linear-gradient(right,#ff4e50,#f9d423);
  background: -moz-linear-gradient(right,#ff4e50,#f9d423);
  background: -webkit-linear-gradient(right,#ff4e50,#f9d423);
}
nav#main-nav.nav-darken{
  background-color: rgba(0, 0, 0, 1);
}
nav#main-nav ul#main-ul li a.nav-darken{
  background-color: rgba(0, 0, 0, 1);
}
nav#main-nav ul#main-ul li a.nav-darken:hover{
  background-color: rgba(0, 0, 0, 0);
}
#sec1-main-cont{
  width: 100%;
  background-color: #000;
  position: relative;
  background-image: url('../images/whitetiger1.png');
  background-size: cover;
  nav{
    width: 100%;
    height: $nav;
    background-color: rgba(22, 22, 22, 1);
    position: fixed;
    z-index: 500;
    transition: 0.7s;
    #nav-logo{
      @include zero;
      height: $nav;
      position: absolute;
      left: 9rem;
      @include dirrow;
      .fa-envira{
        font-size: 2rem;
        color: $yellow;
        transition: 0.3s;
        margin-right: 0.5rem;
        transition: 0.7s;
        -moz-transition: 0.7s;
      }
      p{
        padding: 0;
        margin: auto;
        font-family: $nuni;
        font-size: 2.4rem;
        text-transform: uppercase;
        letter-spacing: 0.8rem;
      }
      &:hover{
        cursor: pointer;
        .fa-envira{
          color: #1cd8d2;
          transition: 0.7s;
          -moz-transition: 0.7s;
        }

      }
    }
    #main-ul{
      @include zero;
      height: $nav;
      @include dirrow;
      list-style-type: none;
      position: absolute;
      right: 6rem;
      li{
        @include zero;
        height: $nav;
        transition: all 0.7s linear;
        position: relative;
        z-index: 10;

        a{
          @include clearA;
          margin: 0;
          padding: 0 3rem 0 3rem;
          height: $nav;
          display: flex;
          width: 100%;
          box-sizing: border-box;
          transition: 0.7s;
          background-color: rgba(22, 22, 22, 1);
          position: relative;
          z-index: 20;
          p{
            padding: 0;
            margin: auto;
            font-family: $nuni;
            font-weight: 200;
            text-transform: uppercase;
            font-size: 1.6rem;
          }
          &:hover{
            background-color: rgba(18, 18, 18, 0);
            p{
              color: #fff;
            }
          }
        }
        &:hover{

        }
      }
    }
  }
  .title-cont{
    width: 100%;
    height: 100%;
    @include dirrow;
    .title-box{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 9rem;
      margin-top: 3rem;
      position: relative;
      .main-title{
        font-family: $hind;
        font-size: 8.4rem;
        font-weight: 300;
        text-align: left;
        position: relative;
        margin-top: 5rem;
      }
      .mini-box{
        .sub-title{
          font-family: $nuni;
          margin: 4rem 0 4rem 0.4rem;;
          font-size: 2rem;
          font-weight: 300;
          width: 50rem;
          line-height: 2.8rem;
        }
        .title-link{
          height: 6rem;
          width: 32rem;
          margin: 0 0 2.4rem 0.6rem;
          a{
            @include dirrow;
            @include clearA;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 50;
            .fa-tag{
              font-size: 3.8rem;
              color: $yellow;
              position: relative;
              z-index: 50;
            }
            .tickets{
              position: relative;
              z-index: 50;
              font-family: $nuni;
              text-transform: uppercase;
              font-size: 2.4rem;
              letter-spacing: 0.3rem;
              margin-left: 1rem;
            }
            .hover-ticket{
              position: absolute;
              z-index: 0;
              height: 6rem;
              width: 42rem;
              left: -52rem;
              top: 0;
              transition: 0.7s;
              border-radius: 0.5rem;
            }
            .hover1{
              background: linear-gradient(right,#1cd8d2,#93edc7);
              background: -moz-linear-gradient(right,#1cd8d2,#93edc7);
              background: -webkit-linear-gradient(right,#1cd8d2,#93edc7);
            }
            .hover2{
              background: linear-gradient(right,#ff512f,#dd2476);
              background: -moz-linear-gradient(right,#ff512f,#dd2476);
              background: -webkit-linear-gradient(right,#ff512f,#dd2476);
            }
            &:hover{
              .hover-ticket{
                left: -10rem;
              }
            }
          }

        }
      }

    }
  }
}
.header-desc{
  font-family: $hind;
  width: 100rem;
  margin-bottom: 7rem;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: #696969;
}
#sec2-about{
  width: 100%;
  background-color: rgba(22, 22, 22, 1);
  min-height: 20rem;
  @include dircol;
  #header-title{
    @include pulseHeader;
  }
  #header-title.bigborder{
    padding: 1.3rem 0;
    border-top: 0.1rem solid $yellow !important;
    border-bottom: 0.1rem solid $yellow;
    margin: 6.7rem 0;
  }
  .category-box{
    @include dirrow;
      margin-bottom: 7rem;
    .category-item{
      box-sizing: border-box;
      border: 1px solid #2e2e2e;
      width: 30rem;
      min-height: 20rem;
      margin: 0 2rem;
      transition: 0.4s;
      @include dircol;
      &:hover{
        border: 1px solid #696969;
        -webkit-box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.75);
        box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.75);
        cursor: pointer;
      }
      .cat-icon{
        color: $yellow;
        font-size: 5.2rem;
        margin: 1.6rem 0;
      }
      .cat-title{
        color: $yellow;
        text-transform: uppercase;
        font-family: $nuni;
        font-size: 2.4rem;
      }
      .cat-desc{
        font-family: $hind;
        color: #696969;
        font-size: 1.6rem;
        margin: 1.2rem 2rem;
        text-align: center;
      }
      .cat-button{
        width: 14rem;
        height: 4rem;
        box-sizing: border-box;
        margin-bottom: 1.8rem;
      }
      .cat-button > a{
        @include clearA;
        width: 14rem;
        height: 4rem;
        display: flex;
        border: 1px solid #2e2e2e;
        background-color: rgba(22, 22, 22, 1);
        box-sizing: border-box;
        transition: 0.7s;
        &:hover{
          background-color: rgba(22, 22, 22, 0);
        }
      }
      .cat-button > a > p{
        margin: auto;
        padding: 0;
        text-transform: uppercase;
        font-family: $nuni;
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
      }
    }

  }
}

#sec3-description{
  width: 100%;
  min-height: 76rem;
  background-color: #000;
  background-image: url('../images/warsaw-bg3.png');
  background-size: cover;
  background-position: bottom;
  @include dirrow;
  justify-content: center;
  .frames-box{
    position: relative;
    width: 140rem;
    height: 54rem;
    .left-frame{
      position: absolute;
      left: 0;
      overflow: hidden;
      top: 4rem;
      box-sizing: border-box;
      height: 46rem;
      width: 92rem;
      border: 0.1rem solid #666666;
      .inner-left-frame{
        position: relative;
        width: 100%;
        height: 100%;
        @include dirrow;
        #slide-right-arrow{
          position: relative;
          margin-left: 1.5rem;
          transition: 0.2s;
          display: none;
          .fa-angle-right{
            font-size: 6rem;
            display: block;
            animation: arrowpulse 3s infinite;
            -webkit-animation: arrowpulse 3s infinite;
            -moz-animation: arrowpulse 3s infinite;
          }
          &:hover .fa-angle-right{
            cursor: pointer;
            color: $yellow !important;
          }
        }
        .left-frame-content{
          position: absolute;
          left: 5rem;
          height: 46rem;
          overflow: hidden;
          width: 81rem;
          transition: 1s;
          .lfc-case{
            height: 46rem;
            overflow: hidden;
            width: 81rem;
            @include dircol;
            p.lfc-title{
              @include pulseHeader;
              margin: 10rem 0 6rem 0;
            }
            p.lfc-desc{
              font-family: $hind;
              color: #cccccc;
              font-size: 2.2rem;
              margin: 1.2rem 2rem;
              text-align: center;
              font-weight: 200;
            }
          }

        }

      }
    }
    .right-frame{
      position: absolute;
      box-sizing: border-box;
      right: 0;
      width: 54rem;
      height: 54rem;
      border: 0.5rem solid $yellow;
      transition: 1s;
      .inner-right-frame{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        @include dirrow;
        #slide-left-arrow{
          position: relative;
          margin-left: 1.2rem;
          transition: 0.2s;
          .fa-angle-left{
            font-size: 6rem;
            display: block;
            animation: arrowpulse 3s infinite;
            -webkit-animation: arrowpulse 3s infinite;
            -moz-animation: arrowpulse 3s infinite;
          }
          &:hover .fa-angle-left{
            cursor: pointer;
            color: $yellow !important;
          }
        }

        .hidden-frame{
          position: absolute;
          box-sizing: border-box;
          right: 47.2rem;
          height: 46rem;
          width: 92rem;
          // border: 0.1rem solid #bbbbbb;
          padding: 0 5rem;
          .hf-desc{
            font-family: $hind;
            color: #cccccc;
            font-size: 2.2rem;
            margin: 5rem 0 0 5rem;
            text-align: left;
            font-weight: 200;
          }
        }
        .right-frame-content{
          position: absolute;
          height: 100%;
          width: 42.4rem;
          right: 5rem;
          display: flex;
          flex-direction: column;
          .rfc-title{
            font-family: $nuni;
            font-size: 2.4rem;
            text-transform: uppercase;
            letter-spacing: 0.8rem;
            margin: 3rem 0 0 3rem;
          }
          .rfc-desc{
            font-family: $hind;
            color: #696969;
            font-size: 1.6rem;
            margin: 2rem 0 0 3rem;
          }
          .rfc-item{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin: 2rem 0 0 3rem;
            .rfc-icon{
              color: $yellow;
              font-size: 3.8rem;
              display: block;
            }
            .rfc-icon-desc{
              @include dircol;
              .rid-title{
                color: $yellow;
                font-family: $nuni;
                font-size: 2.4rem;
                margin: 0 0 0 0;
              }
              .rid-desc{
                font-family: $hind;
                color: #696969;
                font-size: 1.6rem;
                margin: 1rem 0 0 3rem;
              }
            }
          }
        }
      }
    }
  }
}
@keyframes arrowpulse{
  0% {color: rgba(255, 255, 255, 1);}
  75% {color: rgba(255, 255, 255, 1);}
  87% {color: rgba(255, 255, 255, 0);}
  100% {color: rgba(255, 255, 255, 1);}
  }
  #photo1{
    background-image: url('../images/photo1.jpeg');
    background-size: cover;
    background-position: center;
  }
  #photo2{
    background-image: url('../images/photo2.jpg');
    background-size: cover;
    background-position: center;
  }
  #photo3{
    background-image: url('../images/photo3.jpeg');
    background-size: cover;
    background-position: center;
  }
  #photo4{
    background-image: url('../images/photo4.jpeg');
    background-size: cover;
    background-position: center;
  }
#sec4-team{
  width: 100%;
  min-height: 70rem;
  background-color: rgba(22, 22, 22, 1);
  @include dircol;
  .team-title{
    @include pulseHeader;
  }
  .person-box{
    @include dirrow;
    margin-bottom: 7rem;
    .person-item{
      @include dircol;
      width: 30rem;
      min-height: 40rem;
      margin: 0 2rem;
      transition: 0.4s;
      .person-photo{
        @include zero;
        background-color: green;
        width: 30rem;
        height: 40rem;
      }

      .person-name{
        font-family: $nuni;
        font-weight: 200;
        font-size: 1.6rem;
        width: 100%;
        text-align: left;
        margin: 3.2rem 0 1rem 0;
        span{
          text-transform: uppercase;
          color: $yellow;
        }
      }
      .person-desc{
        font-family: $nuni;
        font-weight: 200;
        font-size: 1.6rem;
        line-height: 2rem;
        text-align: justify;
        margin-bottom: 3.2rem;
      }
      .person-button{
        width: 14rem;
        height: 4rem;
        box-sizing: border-box;
        margin-bottom: 1.8rem;
      }
      .person-button > a{
        @include clearA;
        width: 14rem;
        height: 4rem;
        display: flex;
        border: 1px solid #2e2e2e;
        background-color: rgba(22, 22, 22, 1);
        box-sizing: border-box;
        transition: 0.7s;
        &:hover{
          background-color: rgba(22, 22, 22, 0);
        }
      }
      .person-button > a > p{
        margin: auto;
        padding: 0;
        text-transform: uppercase;
        font-family: $nuni;
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
      }
    }
  }
}
#sec5-numbers{
  width: 100%;
  background-image: url('../images/close-up-grass-bw.png');
  background-size: cover;
  background-position: bottom;
  height: 46rem;
  .numbers-cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    @include dircol;
    .numbers-title{
      @include pulseHeader;
    }
    .numbers-cont{
      @include dirrow;
      margin-top: 11rem;
      .numbers-item{
        @include dirrow;
        margin: 0 1.5rem;
        i{
          color: $yellow;
          font-size: 5.6rem;
          margin: 0.4rem 1rem 1rem 1rem;
        }
        .numbers-item-desc{
          @include dircol;
          align-items: flex-start;
          margin: 0.4rem 0 1rem 0;
          p.item-counter{
            font-family: $nuni;
            font-size: 3.6rem;
          }
          .ic-description{
            font-family: $hind;
            font-size: 2rem;
            margin: 0.4rem 0;
          }
        }
      }
  }

  }
}
#sec6-socials{
  width: 100%;
  height: 16rem;
  background-color: $yellow;
  display: flex;
  .socials-box{
    margin: auto;
    @include dirrow;
    .socials-link{
      position: relative;
      display: block;
      margin: 0 24rem 0 0;
      padding: 0;
      transition: 0.2s;
      i{
        color: rgba(22, 22, 22, 1);
        font-size: 6rem;
        transition: 0.2s;
      }
      .fa-facebook-square{
        &:hover{
          color: #3b5998;
        }
      }
      .fa-twitter-square{
        &:hover{
          color: #4099ff;
        }
      }
      .fa-linkedin-square{
        &:hover{
          color: #007bb6;
        }
      }
      .fa-youtube-square{
        &:hover{
          color: #b31217;
        }
      }
    }

    .socials-link:last-child{
      margin: 0;
    }
  }
}
#sec7-footer{
  width: 100%;
  min-height: 60rem;
  background-color: rgba(22, 22, 22, 1);
  @include dircol;
  .contact-title{
    @include pulseHeader;
  }
  .footer-box{
    width: 140rem;
    height: 46rem;
    // background-color: grey;
    display: flex;
    flex-direction: row;
    .footer-item{
      margin-right: 5rem;
      .title-box{
        border-bottom: 0.1rem solid #9d8200;
        margin-bottom: 3rem;
      }
      .fi-title{
        font-family: $nuni;
        font-size: 2.4rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      .fi-subtitle{
        font-size: 2rem;
        font-family: $hind;
        color: #696969;
        margin-bottom: 3rem;
        text-transform: uppercase;
        margin: 9.8rem 0 1rem 0;
      }
      .fi-content{
        font-size: 2rem;
        font-family: $hind;
        color: #696969;
        margin-bottom: 3rem;
        .additional-info{
          width: 42rem;
          line-height: 3rem;
        }
        p{
          margin: 0 0 1rem 0;
          a{
            color: #696969;
            &:hover{
              color: #fff;
            }
          }
        }
      }
      .myMap{
        width: 44.9rem;
        height: 35rem;
        // margin-top: 9.8rem;
      }
    }
    .footer-item:last-child{
      margin: 0;
    }
  }
}
#sec8-last-footer{
  height: $nav;
  width: 100%;
  background-color: #000;
  display: flex;
  position: relative;
  .copyright{
    margin: auto 0 auto 9rem;
    color: #696969;
    font-family: $nuni;
    font-size: 1.4rem;
  }
}
