@mixin centering {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin zero {
	margin: 0;
	padding: 0;
}
@mixin lrauto {
	margin-left: auto;
	margin-right: auto;
}
@mixin clearFix{
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}
@mixin clearA {
	text-decoration: none;
	outline: none;
	color: #fff;
}
@mixin dircol {
	display: flex;
	align-items: center;
	flex-direction: column;
}
@mixin dirrow {
	display: flex;
	align-items: center;
	flex-direction: row;
}
@mixin parentSize {
  width: inherit;
  height: inherit;
}
@mixin pulseHeader {
	font-family: $nuni;
	text-transform: uppercase;
	font-size: 4.2rem;
	margin: 7rem 0;
	padding: 1rem 0;
	border-top: 0.1rem solid #9d8200;
	border-bottom: 0.1rem solid #9d8200;
	letter-spacing: 1rem;
	transition: 0.4s;
}
